div, section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

div {
    max-width: 65vw;
    padding: 20px;
}

span {
    border: 1px solid black;
    flex-grow: 1;
    font-size: 10px;
    text-align: center;
    padding: 10px 0 40px 0;
}

.heading {
    width: 100%;
    font-size: 14px;
}

.notes {
    flex-direction: column;
    align-items: stretch;
    align-self: stretch;
    flex-grow: 1;
}

.notes span{
    padding-top: 0px;
    font-size: 14px;
}
 
.week {
    width: 75%;
}