html {
    font-family: Helvetica, sans-serif;
}

nav {
    display: inline-block;
    padding-left: 60px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

header {
    font-size: 48px;
    font-weight: 700;
    border-bottom: 2px solid black;
    margin: 30px;
}

a {
    font-size: 14px;
    font-weight: 300;
    color: green;
    text-decoration: none;
    margin: 10px;
}

main {
    margin: 30px;
}