body {
    margin: 10px 150px;
    height: 600px;
    font-family: Helvetica, sans-serif;
}

main {
    display: flex;
    justify-content: space-between;
}

span {
    background-color: rgb(191, 251, 231);
}

main a{
    width: 25%;
    color: #fff;
    background-color: #008F7A;
    align-self: flex-end;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    padding: 8px 6px;
    font-weight: 700;
    margin-bottom: 16px;
}

main div {
    width: 50%;
}

footer{
    width: 30%;
    border-top: 1px solid gray;
    margin: 50px 200px;
    
}

header h1{
    font-family: Georgia, serif;
}

p {
    color: gray;
    font-size: 14px;
}

h3 {
    font-weight: 600;
}